.toolbar-container {
  display: flex;
  justify-content: space-between;
}

.arco-radio-button-inner {
    display: flex;
    justify-content: center;
    height: 100%;
}

.radio-icon {
    width: 20px;
    height: 20px;
}